@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" underline="true"/>
                            <#input id="sName" name="收卡人姓名" underline="true"/>
                            <#input id="fName" name="制作者姓名" underline="true"/>
                            <#input id="content" name="贺卡内容" underline="true"/>
                            <#input id="email" name="制作者邮箱"/>
                </div>

                <div class="col-sm-6">
                            <#input id="imgUrl" name="图片" underline="true"/>
                            <#input id="sTime" name="制作时间" underline="true"/>
                            <#input id="flag1" name="自定义一" underline="true"/>
                            <#input id="flag2" name="自定义二" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="WorkerCardInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="WorkerCardInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/workerCard/workerCard_info.js"></script>
@}
