@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>测试2管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="TestUser2.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="TestUser2TableToolbar" role="group">
                            @if(shiro.hasPermission("/testUser2/add")){
                                <#button name="添加" icon="fa-plus" clickFun="TestUser2.openAddTestUser2()"/>
                            @}
                            @if(shiro.hasPermission("/testUser2/update")){
                                <#button name="修改" icon="fa-edit" clickFun="TestUser2.openTestUser2Detail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/testUser2/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="TestUser2.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="TestUser2Table"/>
                        <div id="main" style="width: 600px;height:400px;"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/testUser2/testUser2.js"></script>
<script>
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'),'infographic');

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: 'ECharts 示例'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'line',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

</script>
@}
